@import 'reel/index.scss';
@import 'dashboard/index.scss';

body {
  // background-color: #222;
  // outline: solid 1px blue;
  min-height: 100vh;
  margin: 0;
  background-color: #000;
  // background: rgba(255,56,89,1);
  // background: -moz-linear-gradient(top, rgba(255,56,89,1) 0%, rgba(213,1,36,1) 100%);
  // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,56,89,1)), color-stop(100%, rgba(213,1,36,1)));
  // background: -webkit-linear-gradient(top, rgba(255,56,89,1) 0%, rgba(213,1,36,1) 100%);
  // background: -o-linear-gradient(top, rgba(255,56,89,1) 0%, rgba(213,1,36,1) 100%);
  // background: -ms-linear-gradient(top, rgba(255,56,89,1) 0%, rgba(213,1,36,1) 100%);
  // background: linear-gradient(to bottom, rgba(255,56,89,1) 0%, rgba(213,1,36,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3859', endColorstr='#d50124', GradientType=0 );
}

.game {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // outline: solid 1px yellow;
  // margin-top: 50%;
  // transform: translateY(-50%);
  
}

.slot-machine__wrapper {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255,255,255,.25);

  @media (min-width: 600px) {
    width: 50%;
    min-width: 200px;
  }
}

.slot-machine {
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  width: auto;
  padding: 0;
  margin: 0;
}



