doctype html
html.no-js(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title= locals.site.name
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="apple-touch-icon" href="apple-touch-icon.png")
        link(rel="stylesheet" href="css/main.css")
    body
        .game
            .slot-machine__wrapper
                ul.slot-machine
                    - var reelCount = 3;
                    - var n = 0;
                    while n <= reelCount-1
                        .reel__container
                            - var className = 'reel__wrapper reel-' + Math.floor(n +1);
                            div(class=className)
                                ul.reel__items
                                    each val in ['cherry', 'seven', 'peach', 'grapes']
                                        li(class='reel__item reel__item-' + val, data-value=val)
                        - n++
                .dashboard
                    .dashboard__stats
                        .dashboard__item.dashboard__item--bet
                            select#bet(name="bet")
                                option(value=1, selected) 1
                                option(value=2) 2
                                option(value=3) 3
                            .row.dashboard__label
                                span bet                         
                            .row
                                button <
                                input(type="text", value="1x").dashboard__statbox.dashboard__statbox--bet
                                button(data-increase='true') >
                            
                            
                        .dashboard__item.dashboard__item--win
                            .row.dashboard__label 
                                span win
                            .row
                                input(type="text").dashboard__statbox
                        
                        .dashboard__item.dashboard__item--credits
                            .row.dashboard__label 
                                span credits
                            .row
                                input(type="text").dashboard__statbox

                    .dashboard__controls
                        .dashboard__item.dashboard__item--spin
                            button.button--spin.spin SPIN


        script(src="js/vendor.bundle.js")
        script(src="js/main.js")
