.dashboard {
  box-sizing: border-box;
  padding: 5%;
  width: 100%;

  .row {
    display: flex;
    flex-direction: row;
  }
}

.dashboard__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 480px) {
    justify-content: flex-start;
  }
}

.dashboard__controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5%;
}

.dashboard__statbox {
  padding: 10px;
  border: solid 2px #fff;
  color: #fff;
  background: rgba(255,255,255,.25);
  font-size: 1.5em;
  text-align: right;
  width: 100%;
  display: inline;
  width: 100%;

  @media (max-width: 480px) {
    // padding: 5%;
    font-size: 1em;
    padding: 10px;
  }
}

.dashboard__label {
  justify-content: flex-end;
  color: #fff;
  text-transform: uppercase;
}



.button--spin {
  padding: 10px;
  width: 100%;
  font-size: 1.5em;

  @media (max-width: 480px) {
    font-size: 1em;
    padding: 10px;
  }
}

.dashboard__item--spin {
  width: 100%;

}

button {
  background: rgba(255,255,255,.25);
  border: none;
  color: #fff;
  padding: 0 10%;
  display: inline-block;
  display: block;
}

.dashboard__item {
  padding: 0 2%;

  @media (max-width: 480px) {
    // width: 100%;
    padding: 2%;
  }
}


.dashboard__item--bet {
  flex-grow: 3;
  
  select {
    display: none;
  }

  .dashboard__statbox {
    text-align: center;
  }

  .dashboard__label {
    text-align: center;

    span {
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}

.dashboard__item--win {
  flex-grow: 2;

  @media (max-width: 480px) {
    width: 55%;
  }
}

.dashboard__item--credits {
  flex-grow: 3;

  @media (max-width: 480px) {
    width: 45%;
  }
}